<div id="<%= dom_id developer %>">
  <p>
    <strong>Name:</strong>
    <%= developer.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= developer.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= developer.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= developer.password %>
  </p>

</div>
