<div class="card-body">
  <%= form_with(model: [@project, task]) do |form| %>
    <% if task.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row mb-2">
      <%= form.label :title, "Title *", class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :title, class: "form-control", required: true %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label :start_date, class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.date_field :start_date, class: "form-control" %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label :end_date, class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.date_field :end_date, class:"form-control" %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label :status, "Status *", class: "col-sm-3 col-form-label"%>
      <div class="col-sm-9">
        <%= form.select :status, ['Unstarted', 'Started', 'Finished'], {}, class: "form-select", required: true %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label :description, "Description *", class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_area :description, class: "form-control", required: true, rows: 10 %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label :task_type, "Type *", class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.select :task_type, ['Feature', 'Chore', 'Bug', 'Release'], {}, class: "form-select", required: true %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label :estimation, class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.number_field :estimation, class: "form-control" %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label :priority, "Priority *", class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.select :priority, ['Low', 'Medium', 'High'], {}, class: "form-select", required: true %>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <%= link_to "Cancel", project_tasks_path(@project), class: "btn btn-danger" %>
      <%= form.submit class: "btn btn-primary"%>
    </div>
  <% end %>
</div>