<div id="<%= dom_id task %>">
  <p>
    <strong>Start date:</strong>
    <%= task.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= task.end_date %>
  </p>

  <p>
    <strong>State:</strong>
    <%= task.state %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= task.task_type %>
  </p>

  <p>
    <strong>Estimation:</strong>
    <%= task.estimation %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= task.priority %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

</div>
