<p style="color: green"><%= notice %></p>
<div class="container my-4 text-center">
  <h1>Editing task</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-7" style="margin: 0 auto 1rem;">
      <div class="card bg-body-tertiary">
        <%= render "form", task: @task %>
      </div>
    </div>
    <div class="col-5">
      <div class="card bg-body-tertiary" style="margin: 0 auto 1rem;">
        <div class="card-body">
          <h4>Owners</h4>
          <%= render 'developers_list', task: @task %>
          <%= render 'add_developer_form', project: @project, task: @task %>
        </div>
      </div>
      <div class="card bg-body-tertiary" style="margin: 0 auto 1rem;">
        <div class="card-body">
          <h4>Labels</h4>
          <%= render 'labels_list', task: @task %>
          <%= render 'add_label_form', task: @task %>
        </div>
      </div>
    </div>
  </div>
</div>