<h1>Centro notifiche</h1>

<ul>
  <% @notifications.each do |notification| %>
    <li>
      <div id="<%= dom_id notification %>">
        <p><%= notification.text %></p>
        <% if !notification.read %>
          <!-- form per segnare la notifica come letta -->
          <%= form_with(model: notification, local: true) do |form| %>
            <%= form.hidden_field :text, value: notification.text %>
            <%= form.hidden_field :read, value: true %>
            <%= form.submit "Mark as already read" %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>

  <%= link_to "Back to projects", "http://127.0.0.1:3000/projects?mode=m" %>
  
</ul>