<p style="margin-left: 1%; margin-top: 1%"> Welcome <%= current_developer.name %> </p>

<div class="container my-4 text-center">
  <h1>Notification center</h1>
</div>

<div class="container">
  <nav class="nav nav-pills flex-column flex-sm-row mb-4">
    <%= link_to "New project", new_project_path, class: "flex-sm-fill text-sm-center nav-link" %>
    <%= link_to "Back to projects", "http://127.0.0.1:3000/projects?mode=m", class: "flex-sm-fill text-sm-center nav-link" %>
    <%= button_to "Sign out", destroy_developer_session_path, method: :delete, class: "flex-sm-fill text-sm-center nav-link" %>
  </nav>
</div>

<div class="container">
  <ul class="list-group list-group-flush">
    <% @notifications.each do |notification| %>
      <li class="list-group-item">
        <div id="<%= dom_id notification %>">
          <p style="float: left;"><%= notification.text %></p>
          <% if !notification.read %>
            <!-- form per segnare la notifica come letta -->
            <%= form_with(model: notification, local: true) do |form| %>
              <%= form.hidden_field :text, value: notification.text %>
              <%= form.hidden_field :read, value: true %>
              <%= form.submit "Mark as already read", class: "btn btn-primary", style: "float: right;" %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>

  </ul>
</div>