<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-2">
    <%= form.label :title, "Title *", class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.text_field :title, class: "form-control", required: true %>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :deadline, "Deadline *", class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.date_field :deadline, class: "form-control", required: true %>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :customer, "Customer *", class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.text_field :customer, class: "form-control", required: true %>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :description, "Description *", class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.text_area :description, class: "form-control", required: true %>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :status, "Status *", class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.select :status, [['Please, select an option', nil], 'Unstarted', 'Started', 'Finished'], {}, class: "form-select", required: true %>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :start_date, class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.date_field :start_date, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :end_date, class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.date_field :end_date, class: "form-control" %>
    </div>
  </div>
  
  <div class="d-flex justify-content-between">
      <% if project.persisted? %>
        <%= link_to "Cancel", project, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Back to projects", "http://127.0.0.1:3000/projects?mode=m", class: "btn btn-danger" %>
      <% end %>
      <%= form.submit class: "btn btn-primary" %>
  <% end %>
