<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-2">
    <%= form.label :title, class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :deadline, class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.date_field :deadline, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :customer, class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.text_field :customer, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :description, class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :status, class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.select :status, [['Please, select an option', nil], 'Unstarted', 'Started', 'Finished'], {}, class: "form-select" %>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :start_date, class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.date_field :start_date, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :end_date, class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= form.date_field :end_date, class: "form-control" %>
    </div>
  </div>

  <div class="mb-1">
    <%= form.submit "Go!", class: "btn btn-primary" %>
  </div>
<% end %>
