<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <% if current_developer.id == project.developer_id %> 
    <div>
      <p>
        You are the Project manager
      </p> 
    </div> 
  <% else %>
    <div>
      <p>
        You are a collaborator
      </p> 
    </div>
  <% end %>

  <p>
    <strong>Deadline:</strong>
    <%= project.deadline %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= project.customer %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= project.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= project.end_date %>
  </p>

</div>