<p style="margin-left: 1%; margin-top: 1%"> Welcome <%= current_developer.name %> </p>

<div class="container my-4 text-center">
  <% if(params[:mode].eql? "m") %> 
    <h1>Projects you manage</h1>
  <% else %>
    <h1>Projects in which you collaborate</h1>
  <% end %> 
</div>

<nav class="navbar navbar-expand-lg justify-content-center", style="margin-bottom: 1rem;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item", style="padding-eft: 2rem; padding-right: 2rem;">
          <%= link_to "Notification center", notifications_path, class: "nav-link active" %>
        </li>
        <li class="nav-item", style="padding-eft: 2rem; padding-right: 2rem;">
          <%= link_to "New project", new_project_path, class: "nav-link active" %>
        </li>
        <li class="nav-item", style="padding-eft: 2rem; padding-right: 2rem;">
          <% if(params[:mode].eql? "m")%>
            <%= link_to "Show projects you collaborate for", "http://127.0.0.1:3000/projects?mode=c", class: "nav-link active"%> 
          <% end%>
          <% if(params[:mode].eql? "c")%>
              <%= link_to "Show projects you manage", "http://127.0.0.1:3000/projects?mode=m", class: "nav-link active"%> 
          <% end%>
        </li>
        <li class="nav-item", style="padding-eft: 2rem; padding-right: 2rem;">
          <%= button_to "Sign out", destroy_developer_session_path, method: :delete, class: "nav-link active" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="projects" class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col">
        <%= render project %>
      </div>
    <% end %>
  </div>
  
</div>