<p style="margin-left: 1%; margin-top: 1%"> Welcome <%= current_developer.name %> </p>

<div class="container my-4 text-center">
  <% if(params[:mode].eql? "m") %> 
    <h1>Projects you manage</h1>
  <% else %>
    <h1>Projects in which you collaborate</h1>
  <% end %> 
</div>

<div class="container">
  <nav class="nav nav-pills flex-column flex-sm-row mb-4">
    <%= link_to "Notification center", notifications_path, class: "flex-sm-fill text-sm-center nav-link" %>
    <%= link_to "New project", new_project_path, class: "flex-sm-fill text-sm-center nav-link" %>
    
    <% if(params[:mode].eql? "m")%>
      <%= link_to "Show projects you collaborate for", "http://127.0.0.1:3000/projects?mode=c", class: "flex-sm-fill text-sm-center nav-link"%> 
    <% end%>
    <% if(params[:mode].eql? "c")%>
        <%= link_to "Show projects you manage", "http://127.0.0.1:3000/projects?mode=m", class: "flex-sm-fill text-sm-center nav-link"%> 
    <% end%>
    <%= button_to "Sign out", destroy_developer_session_path, method: :delete, class: "flex-sm-fill text-sm-center nav-link" %>
  </nav>
</div>

<div id="projects" class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col">
        <%= render project %>
      </div>
    <% end %>
  </div>
  
</div>