<p style="color: green"><%= notice %></p>

<% if(params[:mode].eql? "m") %> 
    <h1>Projects you manage</h1>
  <% else %>
    <h1>Projects in which you collaborate</h1>
  <% end %>

<div> Welcome <%= current_developer.name %> </div> 

<%= link_to "Notification center", notifications_path %>

<br>

<% if(params[:mode].eql? "m")%>
  <%= link_to "Show projects you collaborate for", "http://127.0.0.1:3000/projects?mode=c"%> 
<% end%>
<% if(params[:mode].eql? "c")%>
    <%= link_to "Show projects you manage", "http://127.0.0.1:3000/projects?mode=m"%> 
<% end%>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>

<%= button_to "Sign out", destroy_developer_session_path, method: :delete %> 
