<p style="color: green"><%= notice %></p>

<%= render @project %>

<!-- Sezione per visualizzare i collaboratori -->

<div id="collaborators">
  <p>
    <strong>Collaborators</strong>
  </p>

  <% @developers.each do |developer| %>
    <p>
      <strong>Email:</strong>
      <%= developer.email %>
    </p>
  <% end %>

  <!-- FORM PER AGGIUNGERE UN COLLABORATORE -->
  <h3>Add a collaborator to this project</h3>
  <%= form_for @developer_project do |form| %>
    <div>
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email %>
    </div>

    <div>
      <%= form.submit "Add collaborator"%>
    </div>
  <% end %>

</div>

<!-- Fine sezione per visualizzare i collaboratori -->

<br>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", "http://127.0.0.1:3000/projects?mode=m" %> |
  <%= link_to "Show tasks", tasks_path(@project) %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>

<%= button_to "Sign out", destroy_developer_session_path, method: :delete %> 
