<p style="color: green"><%= notice %></p>

<%= render @project %>

<!-- Sezione per visualizzare i collaboratori -->

<div id="collaborators">
  <p>
    <strong>Collaborators</strong>
  </p>

  <% @developers.each do |developer| %>
    <p>
      <strong>Email:</strong>
      <%= developer.email %>
    </p>
  <% end %>

  <!-- FORM PER AGGIUNGERE COLLABORATORI -->
  <%= form_with(model: developer_project) do |form| %>
      <% if developer_project.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(developer_project.errors.count, "error") %> prohibited this developer_project from being saved:</h2>

          <ul>
            <% developer_project.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :email, style: "display: block" %>
        <%= form.text_field :email %>
      </div>

      <div>
        <%= form.submit %>
      </div>
    <% end %>

</div>

<!-- Fine sezione per visualizzare i collaboratori -->

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", "http://127.0.0.1:3000/projects?mode=m" %> |
  <%= link_to "Show tasks", tasks_path(@project) %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>

<%= button_to "Sign out", destroy_developer_session_path, method: :delete %> 
