<%= render @project %>

<!-- Sezione per visualizzare i collaboratori -->

<div id="collaborators">
  <p>
    <strong>Collaborators</strong>
  </p>

  <!-- FORM PER CAMBIARE LO STATO DI UN COLLABORATORE -->
  <% @developer_projects.each do |developer_project| %>
    <%= form_with(model: developer_project) do |form| %>
      <div>
        <p>
          <strong>Email:</strong>
          <%= developer_project.email %>
          <% if !@project.status.eql?("Finished") && !@project.status.eql?("Cancelled") && @project.developer.email.eql?(current_developer.email)%>
            <br>
            <strong>Status:</strong>
            <%= developer_project.status %>
            <%= hidden_field_tag "project_id", @project.id %>
            <%= hidden_field_tag "developer_id", developer_project.developer_id %>
            <%= hidden_field_tag "email", developer_project.email %>
            <%= select_tag "status", options_for_select([['Please, select an option', nil], "Active", "Inactive" ])%>
            <%= form.submit "Change status collaborator"%>
          <% end %>
        </p>
      </div>
    <% end %>
    
  <% end %>

  <% if !@project.status.eql?("Finished") && !@project.status.eql?("Cancelled") && @project.developer.email.eql?(current_developer.email) %>
    <!-- FORM PER AGGIUNGERE UN COLLABORATORE -->
    <h3>Add a collaborator to this project</h3>
    <%= form_for @developer_project do |form| %>
      <div>
        <%= form.label :email, style: "display: block" %>
        <%= text_field_tag "email" %>
        <%= hidden_field_tag "project_id", @project.id %>
      </div>

      <div>
        <%= form.submit "Add collaborator"%>
      </div>
    <% end %>
  <% end %>

</div>

<!-- Fine sezione per visualizzare i collaboratori -->

<br>

<div>
  <% if !@project.status.eql?("Finished") && !@project.status.eql?("Cancelled") && @project.developer.email.eql?(current_developer.email) %>
    <%= link_to "Edit this project", edit_project_path(@project) %> |
    <%= link_to "Show tasks", tasks_path(@project) %> |
  <% end %>
  <%= link_to "Back to projects", "http://127.0.0.1:3000/projects?mode=m" %>
  
</div>

<%= button_to "Sign out", destroy_developer_session_path, method: :delete %> 
