<p style="color: green"><%= notice %></p>

<%= render @project %>

<!-- Sezione per visualizzare i collaboratori -->

<div id="collaborators">
  <p>
    <strong>Collaborators</strong>
  </p>

  <% @developers.each do |developer| %>
    <p>
      <strong>Email:</strong>
      <%= developer.email %>
    </p>
  <% end %>

  <!-- FORM PER AGGIUNGERE COLLABORATORI -->
  

</div>

<!-- Fine sezione per visualizzare i collaboratori -->

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", "http://127.0.0.1:3000/projects?mode=m" %> |
  <%= link_to "Show tasks", tasks_path(@project) %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>

<%= button_to "Sign out", destroy_developer_session_path, method: :delete %> 
