<p style="margin-left: 1%; margin-top: 1%"> Welcome <%= current_developer.name %> </p>

<div class="container my-4 text-center">
  <h1><%= @project.title %></h1>
</div>

<div class="container">
  <nav class="nav nav-pills flex-column flex-sm-row mb-4">
    <%= link_to "Notification center", notifications_path, class: "flex-sm-fill text-sm-center nav-link" %>
    <%= link_to "New project", new_project_path, class: "flex-sm-fill text-sm-center nav-link" %>
    <% if !@project.status.eql?("Finished") && !@project.status.eql?("Cancelled") && @project.developer.email.eql?(current_developer.email) %>
      <%= link_to "Edit this project", edit_project_path(@project), class: "flex-sm-fill text-sm-center nav-link" %>
      <%= link_to "Show tasks", tasks_path(@project), class: "flex-sm-fill text-sm-center nav-link" %>
    <% end %>
    <%= link_to "Back to projects", "http://127.0.0.1:3000/projects?mode=m", class: "flex-sm-fill text-sm-center nav-link" %>
    <%= button_to "Sign out", destroy_developer_session_path, method: :delete, class: "flex-sm-fill text-sm-center nav-link" %>
  </nav>
</div>

<%= render @project %>

<% if !@project.status.eql?("Finished") && !@project.status.eql?("Cancelled") && @project.developer.email.eql?(current_developer.email) %>
  <%= button_to 'Delete Project', cancel_project_path(@project), method: :patch, data: { confirm: 'Sei sicuro?' } %>
<%end%>

<!-- Sezione per visualizzare i collaboratori -->

<div id="collaborators">
  <p>
    <strong>Collaborators</strong>
  </p>

  <!-- FORM PER CAMBIARE LO STATO DI UN COLLABORATORE -->
  <% @developer_projects.each do |developer_project| %>
    <%= form_with(model: developer_project) do |form| %>
      <div>
        <p>
          <strong>Email:</strong>
          <%= developer_project.email %>
          <% if !@project.status.eql?("Finished") && !@project.status.eql?("Cancelled") && @project.developer.email.eql?(current_developer.email)%>
            <br>
            <strong>Status:</strong>
            <%= developer_project.status %>
            <%= hidden_field_tag "project_id", @project.id %>
            <%= hidden_field_tag "developer_id", developer_project.developer_id %>
            <%= hidden_field_tag "email", developer_project.email %>
            <%= select_tag "status", options_for_select([['Please, select an option', nil], "Active", "Inactive" ])%>
            <%= form.submit "Change status collaborator"%>
          <% end %>
        </p>
      </div>
    <% end %>
    
  <% end %>

  <% if !@project.status.eql?("Finished") && !@project.status.eql?("Cancelled") && @project.developer.email.eql?(current_developer.email) %>
    <!-- FORM PER AGGIUNGERE UN COLLABORATORE -->
    <h3>Add a collaborator to this project</h3>
    <%= form_for @developer_project do |form| %>
      <div>
        <%= form.label :email, style: "display: block" %>
        <%= text_field_tag "email" %>
        <%= hidden_field_tag "project_id", @project.id %>
      </div>

      <div>
        <%= form.submit "Add collaborator"%>
      </div>
    <% end %>
  <% end %>

</div>