<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", "http://127.0.0.1:3000/projects?mode=m" %> |
  <%= link_to "Show tasks", tasks_path(@project) %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>

<%= button_to "Sign out", destroy_developer_session_path, method: :delete %> 
