<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManagementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!--The yeld tag will be replaced with the contente of the p tag notice 
      and/or alert that are needed by Devise for communicating messages like 
      "Incorrect password"-->
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
